.panel-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-data-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 3rem 0 2rem 0;
}

table {
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  /* box-shadow: 0 2px 15px rgba(64, 64, 64, .25); */
  border-radius: 12px;
  overflow: hidden;
  transition: tr 0.5s;
}

th {
  padding: 20px 20px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}

td {
  padding: 15px 15px;
}

tr {
  width: 100%;
  /* background-color: #f3f3f3; */
  font-size: 12px;
  border-bottom: 1px solid #e1e1e1;
}

/* tr:nth-child(even) {
  background-color: #eeeeee;
} */

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.panel-data-table-control {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 90%;
}

.panel-page-control-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  width: 20%;
  margin: 2rem 2rem;
}

.panel-page-control-btn i {
  color: #000;
}

.panel-page-control-wrapper span {
  font-size: 17px;
  padding: 3px 10px;
}

.panel-page-control-btn {
  border: none;
  background: transparent;
  width: 20%;
  padding: 10px;
  border-radius: 8px;
}

.panel-table-search {
  display: flex;
  width: 100%;
  align-items: center;
}

.panel-data-control-search {
  border: 1px solid #e1e1e1;
  width: 25%;
  padding: 15px 20px;
  border-radius: 8px;
  margin: 5px 0 2rem 0;
}

.panel-data-control-search:focus {
  outline: none;
  border: 1.5px solid blueviolet;
  box-shadow: 0px .4rem .8rem 0px rgba(0, 0, 0, 0.249);
  transition: box-shadow 0.5s;
}

.panel-table-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.panel-table-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.panel-table-search-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.panel-brand-selector,
.panel-site-selector {
  border: 1.5px solid #989393;
  width: 25%;
  padding: 5px;
  border-radius: 8px;
  outline: none;
  background: transparent;
}

.panel-brand-selector:hover,
.panel-site-selector:hover {
  outline: none;
  border: 1.5px solid blueviolet;
  box-shadow: 0px .4rem .8rem 0px rgba(0, 0, 0, 0.249);
  transition: box-shadow 0.5s;
}

.panel-price-selector-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15%;
}

.panel-price-selector-heading {
  font-size: 18px;
}

.panel-price-selector {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.panel-data-control-price {
  border: 1.5px solid #989393;
  width: 45%;
  padding: 5px;
  border-radius: 8px;
}

.panel-data-control-price:focus {
  outline: none;
  border: 1.5px solid blueviolet;
  box-shadow: 0px .4rem .8rem 0px rgba(0, 0, 0, 0.249);
  transition: box-shadow 0.5s;
}

.panel-search {
  width: 100%;
}

.panel-search-btn {
  border: 1.5px solid #989393;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  margin: 5px 0 1rem 0;
  background: linear-gradient(to bottom right, #4b1fde, #7017e4 80%);
  color: #fff;
}

.panel-search-btn:hover {
  transition: transform .3s ease-in-out;
  transform: scale(1.02)
}

.table-item-setting {
  display: flex;
}

.table-item-info-btn,
.table-item-edit-btn {
  border: none;
  background: transparent;
  padding: 4px 10px;
  font-size: 18px;
  font-weight: 600;
}
.ebay-url{
  cursor: pointer;
}
.ebay-url:hover{
  text-decoration: underline;
}
/* .table-item-img {
  height: 40px;
} */