.password-modal-wrapper {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(200, 200, 200, 0.4);
    align-items: center;
    justify-content: center;
}

.password-modal-content {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 80%;
    max-width: 500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.password-modal-content-text span {
    color: #7e7a7a;
}

.password-reset-code-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.password-reset-code-input {
    border: none;
    outline: none;
    margin: 5px 10px;
    margin-bottom: 2rem;
    padding: 8px 14px;
    font-size: 15px;
    box-shadow: 0px .4rem .8rem 0px #0005;
    border-radius: 50px;
    width: 90%;
}

.password-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.password-send-code-btn,
.password-continue-btn,
.password-cancel-btn {
    border: none;
    margin: 5px 10px;
    padding: 8px 14px;
    font-size: 15px;
    box-shadow: 0px .4rem .8rem 0px #0005;
    border-radius: 50px;
    cursor: pointer;
    width: 90%;
}

.password-send-code-btn {
    background: linear-gradient(to bottom right, rgb(123, 61, 181), rgb(188, 63, 204));
    color: #fff;
}

.password-continue-btn {
    background: linear-gradient(to bottom right, rgb(143, 53, 228), rgb(185, 33, 205));
    color: #fff;
}

.password-cancel-btn{
    background-color: #F0F0F0;
}

.password-send-code-btn:hover,
.password-continue-btn:hover,
.password-cancel-btn:hover {
    transition: transform .3s ease-in-out;
    transform: scale(1.02)
}